@page "/MovieList"
@using System.Globalization
@inject IMovieDbData movieData
@inject IMovieListData movieListData;
@inject IMovieListData movieListData
@inject IMovieDbData movieDbData;
@inject IGenreData genreData;
@inject IJSRuntime jsRunTime;
@inject ProtectedLocalStorage localStorage;

@inject ApiMovie apiMovie
@inject NavigationManager navManager


<div class="buster-light">
    <div class="hero common-hero-scroll">
    </div>
    <div class="page-single movie_list">
        <div class="container">
            <div class="row ipad-width2">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="topbar-filter">
                        <p>Found <span>@_movieCount movies</span> in total</p>
                        <label>Sort by:</label>
                        <select @onchange="SortMovieList">
                            <option value="ratingDsc">Rating Descending</option>
                            <option value="ratingAsc">Rating Ascending</option>
                            <option value="popularityDsc">Popularity Descending</option>
                            <option value="popularityAsc">Popularity Ascending</option>
                            <option value="dateDsc">Release Date Descending</option>
                            <option value="dateAsc">Release Date Ascending</option>
                            <option value="listTotalDesc">In x Lists Descending</option>
                            <option value="listTotalAsc">In x Lists Ascending</option>
                        </select>
                        <a href="movielist_light.html" class="list"><i class="ion-ios-list-outline active"></i></a>
                        <a href="moviegrid_light.html" class="grid"><i class="ion-grid"></i></a>
                    </div>
                    @if (_movieList is not null)
                    {
                        @foreach (var movie in _movieList.Skip(_itemPerPage * _page).Take(_itemPerPage))
                        {
                            <div class="movie-item-style-2">
                                <img class="alink" src="@(_apiConfiguration.Images.SecureBaseUrl + "w342" + movie.PosterPath)" alt="" @onclick="@(() => LoadMovie(@movie.TmdbId.ToString()))">
                                <div class="mv-item-infor">
                                    <h6><a class="alink" @onclick="@(() => LoadMovie(@movie.TmdbId.ToString()))">@movie.Title <span>(@movie.Year)</span></a></h6>
                                    <p class="rate"><i class="ion-android-star"></i><span>@movie.VoteAverage</span> /10</p>
                                    <p class="describe"> @(movie.Overview.Length > 300 ? movie.Overview.Substring(0, 300) : movie.Overview) ...</p>
                                    <p class=""><span class="font-weight-bold">Run Time: </span>@movie.RuntimeMins mins    .    .     <span class="font-weight-bold">Release: </span><span> @( string.IsNullOrEmpty( movie.ReleaseDate) ? "" : Convert.ToDateTime(movie.ReleaseDate).ToString("MMMM dd, yyyy"))</span></p>
                                    <p><span class="font-weight-bold">Director: </span> <a class="alink" @onclick="@(() => FilterByDirectorName(@movie.Directors))">@movie.Directors</a></p>
                                    <p><span class="font-weight-bold">Original Language: </span>@(iso339Languages.First(f=> f.Iso_639_1.Equals(movie.OriginalLanguage)).EnglishName)</p>
                                    <p><span class="font-weight-bold">Genres: </span>@movie.Genres </p>
                                    <p><span class="font-weight-bold">Lists: </span> @(string.Join(",", movie.MemberOf.Select(x => x.Name))) </p>
                                </div>
                            </div>
                        }

                    }
                    <div class="topbar-filter">
                        <label>Movies per page:</label>
                        <select @onchange="UpdateMoviePerPage">
                            <option value="5">5 Movies</option>
                            <option value="10">10 Movies</option>
                        </select>
                        <div class="pagination2">
                            <span>Page @(_page + 1) of @(_totalPages):</span>

                            @if (_page > 0)
                            {
                                <a class="alink" @onclick="@(() => NavigatePage(1))"><i class="ion-ios-skipbackward"></i></a>
                            }


                            @for (int x = pagesBefore; x <= pagesAfter; x++)
                            {
                                var tempint = x;

                                if (_page + 1 == tempint)
                                {
                                    <a class="active">@x</a>
                                }
                                else
                                {
                                    <a class="alink" @onclick="@(() => NavigatePage(tempint))">@x</a>
                                }


                            }

                            @if (_totalPages != _page + 1)
                            {
                                <a class="alink" @onclick="@(() => NavigatePage(_totalPages))"><i class="ion-ios-skipforward"></i></a>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div class="searh-form">
                            <h4 class="sb-title">Search for movie</h4>
                            <form class="form-style-1">
                                <div class="row">
                                    <div class="col-md-12 form-it">
                                        <label>Title</label>
                                        <input type="text" @bind="@FilterTitle" @oninput="@((e) => { FilterTitle=(string)e.Value;})">
                                    </div>
                                    <div class="col-md-12 form-it">
                                        <label>Director</label>
                                        <input type="text" @bind="@FilterDirector" @oninput="@((e) => { FilterDirector=(string)e.Value;})">
                                    </div>

                                      <div class="col-md-12 form-it">
                                         <label for="languageInput">Original Language</label>
                                           <input type="text" id="languageInput" list="languages" name="languages"  @onchange="SelectedLanguageChange">
                                      
                                        <datalist id="languages">
                                            @if (iso339Languages is not null)
                                            {

                                                @foreach (var language in iso339Languages)
                                                {
                                                    <option value="@language.EnglishName"></option>
                                                }

                                            }
                                        </datalist>
                                        
                                    </div>
                                  
                                    <div class="col-md-12 form-it">
                                        <label>Genres & Subgenres</label>
                                        <div class="group-ip">
                                            <select @onchange="SelectedGenreChange" class="ui fluid dropdown" id="dropdownGenre" multiple="">
                                                <option value="">Enter to filter genres</option>

                                                @if (_genres is not null)
                                                {
                                                    @foreach (var genre in _genres)
                                                    {
                                                        <option>@genre.Name</option>
                                                    }
                                                }

                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-12 form-it">
                                        <label>Lists</label>
                                        <div class="group-ip">
                                            <select @onchange="SelectedListChange" class="ui fluid dropdown" id="dropdownList" multiple="">
                                                <option value="">Enter to filter by list</option>

                                                @if (_lists is not null)
                                                {
                                                    @foreach (var list in _lists)
                                                    {
                                                        <option value="@list.Id">@list.Name</option>
                                                    }
                                                }

                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-12 form-it">
                                        <label>Rating Range</label>

                                        <select @bind="@FilterRange">
                                            <option value="">No Range</option>
                                            <option value="0to3">0 to 3</option>
                                            <option value="3to6">3.1 to 6</option>
                                            <option value="6to9">6.1 to 9</option>
                                            <option value="9to10">9.1 to 10</option>
                                        </select>

                                    </div>
                                    <div class="col-md-12 form-it">
                                        <label>Release Year</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="number" min="1900" max="@DateTime.Now.Year" @bind="@FilterFromYear" @oninput="@((e) => { FilterFromYear=(string)e.Value;})">

                                            </div>
                                            <div class="col-md-6">
                                                <input type="number" min="1900" max="@DateTime.Now.Year" @bind="@FilterToYear" @oninput="@((e) => { FilterToYear=(string)e.Value;})">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <input class="submit" type="button" value="submit" @onclick="FilterSubmit">

                                    </div>
                                    <div class="col-md-6 ">
                                        <input class="reset" type="button" value="reset" @onclick="Reset">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


