
@inject ApiMovie apiMovie

	<div class="row">						            	
   		<div class="title-hd-sm">
			<h4>Directors</h4>
		</div>
	
		@if(_credits is not null)
		{
			 @foreach(Crew crew in _credits.Crew.Where(d => d.Job == "Director").ToList())
			 {
				 <div class="mvcast-item">											
					<div class="cast-it">
							<div class="cast-left">
								@if(crew.ProfilePath is null)
								{
									<h4>@GetInitials(@crew.Name)</h4>
								}
								else
								{
									<img src="@(apiConfiguration.Images.SecureBaseUrl + "w45" + crew.ProfilePath)" alt="@crew.Name">
								}

								<a href="#">@crew.Name</a>
							</div>
							<p>...  Director</p>
						</div>
				 </div>
						
			}
		}

	
	<!-- //== -->
	<div class="title-hd-sm">
		<h4>Writers</h4>
	</div>
	@if(_credits is not null)
		{
			 @foreach(Crew crew in _credits.Crew.Where(d => d.Department == "Writing").ToList())
			 {
				 <div class="mvcast-item">											
					<div class="cast-it">
							<div class="cast-left">
								@if(crew.ProfilePath is null)
								{
									<img src="/images/uploads/basic_user.png" alt="@crew.Name">
								}
								else
								{
									<img src="@(apiConfiguration.Images.SecureBaseUrl + "w45" + crew.ProfilePath)" alt="@crew.Name">
								}

								<a href="#">@crew.Name</a>
							</div>
							<p>...  @crew.Job</p>
						</div>
				 </div>
						
			}
		}
	<!-- //== -->
	<div class="title-hd-sm">
		<h4>Cast</h4>
	</div>
	@if(_credits is not null)
		{
			
			 @foreach(Cast cast in _credits.Cast.Take(20).ToList())
			 {
				 <div class="mvcast-item">											
					<div class="cast-it">
							<div class="cast-left">
								@if(cast.ProfilePath is null)
								{
									<h4>@GetInitials(@cast.Name)</h4>
								}
								else
								{
									<img src="@(apiConfiguration.Images.SecureBaseUrl + "w45" + cast.ProfilePath)" alt="@cast.Name">
								}

								<a href="#">@cast.Name</a>
							</div>
							<p>...  @cast.Character</p>
						</div>
				 </div>
						
			}
		}
	<!-- //== -->
	<div class="title-hd-sm">
		<h4>Produced by</h4>
	</div>
		@if(_credits is not null)
		{
			
			 @foreach(Crew crew in _credits.Crew.Where(d => d.Department == "Production").ToList())
			 {
				 <div class="mvcast-item">											
					<div class="cast-it">
							<div class="cast-left">
								@if(crew.ProfilePath is null)
								{
									<h4>@GetInitials(@crew.Name)</h4>
								}
								else
								{
									<img src="@(apiConfiguration.Images.SecureBaseUrl + "w45" + crew.ProfilePath)" alt="@crew.Name">
								}

								<a href="#">@crew.Name</a>
							</div>
							<p>...  @crew.Job</p>
						</div>
				 </div>
						
			}
		}


         </div>					            	


@code {

	[Parameter]
	public Credits credits { get; set; }

	private Credits _credits;
	private APIConfiguration apiConfiguration;


	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			if(credits is not null)
			{
				apiConfiguration = await apiMovie.GetConfiguration();
				_credits = credits;
			}

		}

	}

	private string GetInitials(string Name)
	{

		var arrayName = Name.Split(' ');

		//If only has one name 
		if (arrayName.Count() == 1)
		{
			return arrayName[0].Substring(0, 2);
		}
		else
		{
			return arrayName[0].Substring(0, 1) + arrayName[arrayName.Count() - 1].Substring(0, 1);
		}

	}

	public async Task LoadCredit(Credits credits)
	{
		_credits = credits;
		StateHasChanged();
	}

	


}
